<body>
    <div class = "container">        
            <form action="~/Books/AddBook">
                <button type="submit" class="buttons">Add Book</button>
            </form>
                    
                <form action="~/Books/ViewBooks">
                    <button type="submit" class="buttons">View books</button>
                </form>
    </div>
</body>